<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css" />
    <title>Погода Сима-ленд</title>
</head>
<body>
<header>
    <div class="icon">
        {{range .Descr}}
        <object data="https://unpkg.com/open-weather-icons@0.0.7/src/svg/{{.Icon}}.svg" type=""></object>
        {{end}}
    </div>
    <div class="header__info">
        <h1>{{.Name}}</h1>
        {{range .Descr}}
        <h2>{{.Full}}</h2>
    </div>
        {{end}}
</header>
    <ul class="stats">
        <li class="stat stat_temp">
            {{.Main.Temp}}
            <span class="stat_descr">Температура</span>
        </li>
        <li class="stat stat_temp">
            {{.Main.TempMin}}
            <span class="stat_descr">Минимальная температура</span>
        </li>
        <li class="stat stat_temp">
            {{.Main.TempMax}}
            <span class="stat_descr">Максимальная температура</span>
        </li>
        <li class="stat stat_wind">
            {{.Wind.Speed}}
            <span class="stat_descr">Скорость ветра</span>
        </li>
        <li class="stat stat_winddeg">
            {{.Wind.Deg}}
            <span class="stat_descr">Направление ветра в градусах</span>
        </li>
        <li class="stat stat_humidity">
            {{.Main.Humidity}}
            <span class="stat_descr">Влажность</span>
        </li>
        <li class="stat stat_pressure">
            {{.Main.Pressure}}
            <span class="stat_descr">Атмосферное давление</span>
        </li>
    </ul>
</body>
</html>